<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Canonical host (non-www)
RewriteCond %{HTTP_HOST} ^www\.pineappleplayers\.com$ [NC]
RewriteRule ^ https://pineappleplayers.com%{REQUEST_URI} [R=301,L]

# Force HTTPS on canonical host
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^pineappleplayers\.com$ [NC]
RewriteRule ^ https://pineappleplayers.com%{REQUEST_URI} [R=301,L]

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
</IfModule>
